@model IEnumerable<AstraRekrutacja.Data.Models.WorkerLeavesResultViewModel>
@{
    ViewBag.Title = "Urlopy";
}

<h2>Urlopy</h2>

@using (Html.BeginForm())
{
    <div class="form">
        <div class="row">
            <div class="form-group mx-sm-0 mx-md-0 mb-2 col">
                @Html.TextBox("start", null, new { @readonly = "readonly", @id = "start-input", @type = "datetime", @class = "form-control col-12 col-lg-12 datepicker" })
            </div>
            <div class="form-group mx-sm-0 mx-md-0 mb-2 col">
                @Html.TextBox("end", null, new { @readonly = "readonly", @id = "end-input", @type = "datetime", @class = "form-control col-12 col-lg-12 datepicker" })
            </div>

            <div class="form-group mx-sm-0 mx-md-0 mb-2 col">
                <button type="submit" class="btn btn-dark col-sm-12 col-lg-12">Wyszukaj</button>
            </div>
        </div>

    </div>
}

<table id="sortTable" class="table tablesorter">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Pracownik
            </th>
            <th scope="col">
                Manager
            </th>
            <th scope="col">
                Start Urlopu
            </th>
            <th scope="col">
                Koniec Urlopu
            </th>
            <th scope="col">
                Typ Urlopu
            </th>
            <th scope="col">
                Status Urlopu
            </th>
            <th scope="col">
                Długość Urlopu (dni)
            </th>
            <th scope="col">
                Zakres
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Range)
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="row mx-sm-3">
    <button id="export_btn" type="button" class="btn btn-info col-sm-12 col-lg-2">Eksportuj</button>
</div>
